*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.log
.idea
_ReSharper*
*.csproj
*.sln
*.userprefs
media/
.vs
.vsconfig
.DS_Store
bin/
obj/
packages/

Config/
Intermediate/
Binaries/

src/GameDevWare.Charon.UnrealEngine/Saved/
src/GameDevWare.Charon.UnrealEngine/DerivedDataCache/
